<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
  <system.serviceModel>
    <bindings>
      <wsDualHttpBinding>
        <binding name="WSDualHttpBinding_IServiceLive" />
        <binding name="WSDualHttpBinding_IServiceObservation" />
        <binding name="WSDualHttpBinding_IServicePatient" />
        <binding name="WSDualHttpBinding_IServiceUser" />
      </wsDualHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:3055/ServiceLive.svc" binding="wsDualHttpBinding"
          bindingConfiguration="WSDualHttpBinding_IServiceLive" contract="IServiceLive"
          name="WSDualHttpBinding_IServiceLive">
        <identity>
          <userPrincipalName value="DESKTOP-ASRL52F\flash" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:3055/ServiceObservation.svc" binding="wsDualHttpBinding"
          bindingConfiguration="WSDualHttpBinding_IServiceObservation" contract="IServiceObservation"
          name="WSDualHttpBinding_IServiceObservation">
        <identity>
          <userPrincipalName value="DESKTOP-ASRL52F\flash" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:3055/ServicePatient.svc" binding="wsDualHttpBinding"
          bindingConfiguration="WSDualHttpBinding_IServicePatient" contract="IServicePatient"
          name="WSDualHttpBinding_IServicePatient">
        <identity>
          <userPrincipalName value="DESKTOP-ASRL52F\flash" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:3055/ServiceUser.svc" binding="wsDualHttpBinding"
          bindingConfiguration="WSDualHttpBinding_IServiceUser" contract="IServiceUser"
          name="WSDualHttpBinding_IServiceUser">
        <identity>
          <userPrincipalName value="DESKTOP-ASRL52F\flash" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>